<!-- CSS -->

<style media="screen">
  {{ partial "css/main.css" . | safeCSS }}
</style>
<style media="(min-width: 600px)">
  {{ partial "css/min600px.css" . | safeCSS }}
</style>
<style media="(min-width: 769px)">
  {{ partial "css/min769px.css" . | safeCSS }}
</style>

<link rel="preload" as="font" type="font/woff" href="{{ .Site.BaseURL }}fonts/merriweather-v21-latin-300italic.woff" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="{{ .Site.BaseURL }}fonts/merriweather-v21-latin-300italic.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff" href="{{ .Site.BaseURL }}fonts/merriweather-v21-latin-300.woff" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="{{ .Site.BaseURL }}fonts/merriweather-v21-latin-300.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff" href="{{ .Site.BaseURL }}fonts/merriweather-v21-latin-700italic.woff" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="{{ .Site.BaseURL }}fonts/merriweather-v21-latin-700italic.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff" href="{{ .Site.BaseURL }}fonts/merriweather-v21-latin-700.woff" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="{{ .Site.BaseURL }}fonts/merriweather-v21-latin-700.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff" href="{{ .Site.BaseURL }}fonts/raleway-v14-latin-600.woff" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="{{ .Site.BaseURL }}fonts/raleway-v14-latin-600.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff" href="{{ .Site.BaseURL }}fonts/raleway-v14-latin-700.woff" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="{{ .Site.BaseURL }}fonts/raleway-v14-latin-700.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff" href="{{ .Site.BaseURL }}fonts/raleway-v14-latin-regular.woff" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="{{ .Site.BaseURL }}fonts/raleway-v14-latin-regular.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff" href="{{ .Site.BaseURL }}fonts/ubuntu-mono-v9-latin-700.woff" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="{{ .Site.BaseURL }}fonts/ubuntu-mono-v9-latin-700.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff" href="{{ .Site.BaseURL }}fonts/ubuntu-mono-v9-latin-regular.woff" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="{{ .Site.BaseURL }}fonts/ubuntu-mono-v9-latin-regular.woff2" crossorigin>

<!--<noscript>
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700" rel="stylesheet">
</noscript>
-->
{{ if .Site.Params.highlightjs }}
  <style type="text/css" media="screen">
    {{ partial "css/highlight.min.css" . | safeCSS }}
  </style>
{{ end }}

{{ if .Site.Params.progressively }}
  <style type="text/css" media="screen">
    {{ partial "css/progressively.min.css" . | safeCSS }}
  </style>
{{ end }}

{{ if .Site.Params.share }}
  <style type="text/css" media="screen">
    {{ partial "css/social-share-kit.css" . | safeCSS }}
  </style>
{{ end }}

{{ if .Site.Params.colors }}
  <style type="text/css" media="screen">
    {{ partial "css/colors.css" . | safeCSS }}
  </style>
{{ end }}

{{ range .Site.Params.extracssfiles }}
  <link rel="stylesheet" href="{{ . | relURL }}">
{{ end }}

<!-- Icon -->
<link rel="shortcut icon"
{{ if .Site.Params.faviconfile }}
    href="{{ .Site.Params.faviconfile | relURL }}"
{{ else }}
    href="{{ .Site.BaseURL }}img/favicon.ico"
{{ end }}
>

<!-- RSS -->
{{ if .RSSLink }}
<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}{{ .Site.Params.Subtitle}}" />
{{ end }}
