<meta charset="utf-8">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ if .Site.Params.description }}<meta name="description" content="{{ .Site.Params.description }}">{{ end }}

{{ if .Site.Params.twitter }}
    <meta property="twitter:site" content="@{{.Site.Params.twitter}}">
{{ end }}
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:locale" content="{{ .Site.LanguageCode }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="twitter:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
{{ if .Site.Params.social_banner }}
    <meta property="og:image" content="{{ if .Params.meta_img }}{{ .Site.BaseURL }}{{ .Params.meta_img }}{{ else }}{{ .Site.BaseURL }}{{.Site.Params.social_banner}}{{ end }}">
    <meta property="twitter:card" content="{{ if .Site.Params.usesmallsummarycard }}summary{{ else }}summary_large_image{{ end }}">
    <meta property="twitter:image" content="{{ if .Params.meta_img }}{{ .Site.BaseURL }}{{ .Params.meta_img }}{{ else }}{{ .Site.BaseURL }}{{.Site.Params.social_banner}}{{ end }}">
{{ else }}
    <meta property="twitter:card" content="summary">
{{ end }}
<meta property="og:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else if .IsPage }}{{ .Description }}{{ end }}">
<meta property="twitter:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else if .IsPage }}{{ .Description }}{{ end }}">

<link rel="apple-touch-icon" sizes="180x180" href='/img/apple-touch-icon.png'>
  <link rel="icon" type="image/png" sizes="32x32" href='/img/favicon-32x32.png'>
  <link rel="icon" type="image/png" sizes="16x16" href='/img/favicon-16x16.png'>
  <link rel="icon" type="image/png" sizes="192x192" href='/img/android-chrome-192x192.png'>
  <link rel="mask-icon" href='/img/safari-pinned-tab.svg' color="#5bbad5">
  <link rel="shortcut icon" href='/img/favicon.ico'>
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="theme-color" content="#ffffff">
  <link rel="manifest" type="application/manifest+json" href='/site.webmanifest.dev.json'>
