<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>404 - Page not found</title>
{{ partial "head_includes.html" . }}
<style>
    {{ partial "css/404.css" . | safeCSS }}
</style>
</head>
<body>
    <div class="container f04">
        <div class="content">
            The <a href="https://en.wikipedia.org/wiki/URL" target="_blank" rel="noopener">URL</a> you requested isn't here. 
            <br>This is most likely a bad link, although it is possible you are behind an oppressive firewall, 
            <br>under a large boulder, or have broken out of the Cantor Continuum or 
            <br>found a logical inconsistency in generally accepted mathematics.
            <div class="suggestion"><a href="{{ .Site.BaseURL }}">Navigate to home page</a>
        </div>
    </div>
</body>
</html>
